$color_white: #FFFFFF;
.color-white {
  color: $color_white;
}
.color-white-bg {
  background-color: $color_white;
}

$color_light-grey: #F5F5F5;
.color-light-grey {
  color: $color_light-grey;
}
.color-light-grey-bg {
  background-color: $color_light-grey;
}

$color_dark: #0F172A;
.color-dark {
  color: $color_dark;
}
.color-dark-bg {
  background-color: $color_dark;
}

$color_main_green: #71A894;
.color-main-green {
  color: $color_main_green;
}
.color-main-green-bg {
  background-color: $color_main_green;
}

$light_gold: #F3F0EA;
.light-gold {
  color: $light_gold;
}
.light-gold-bg {
  background-color: $light_gold;
}
