.main-cta {
  background-color: $color_main_green;
  color: $color_white;
  display: block;
  width: fit-content;
  font-family: "Secondary bold";
  transition: .3s ease-in-out;

  @include min(mobile) {
    font-size: ptr(18, mobile);
    line-height: ptr(24, mobile);
    padding: ptr(20, mobile) ptr(24, mobile);
    border-radius: ptr(46, mobile)
  }
  @include min(tablet) {
    font-size: ptr(18, tablet);
    line-height: ptr(24, tablet);
    padding: ptr(20, tablet) ptr(24, tablet);
    border-radius: ptr(46, tablet)
  }
  @include min(desktop) {
    font-size: ptr(18, desktop);
    line-height: ptr(24, desktop);
    padding: ptr(19, desktop) ptr(23, desktop);
    border: 2px solid $color_main_green;
    border-radius: ptr(46, desktop);

    &:hover {
      background-color: transparent;
      color: $color_main_green;
    }
  }
}