header.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include min(mobile) {
    padding: ptr(16, mobile);
  }
  @include min(tablet) {
    padding: ptr(16, tablet);
  }
  @include min(desktop) {
    padding: ptr(36, desktop) ptr(46.5, desktop);
  }

  #website-logo {
    object-fit: contain;
    @include min(mobile) {
      height: ptr(62.16, mobile);
    }
    @include min(tablet) {
      height: ptr(62.16, tablet);
    }
    @include min(desktop) {
      width: ptr(168.51, desktop);
      height: ptr(89.16, desktop);
    }
  }

  nav {
    @include max(desktop) {
      display: none;
    }
    @include min(desktop) {
      padding-right: ptr(49.33, desktop);
      display: flex;
      gap: ptr(43.21, desktop)
    }

    a {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: -15%;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: ptr(3, desktop);
        background-color: $color_main_green;
        transition: width 0.5s;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
  #burger-icon {
    display: block;
    @include min(desktop) {
      display: none;
    }
  }
}