.section-1 {
  display: flex;
  @include min(mobile) {
    padding: 0 ptr(30, mobile);
    flex-direction: column;
    gap: ptr(32, mobile);
  }
  @include min(tablet) {
    padding: 0 ptr(30, tablet);
    gap: ptr(32, mobile);
  }
  @include min(desktop) {
    flex-direction: row;
    align-items: center;
    gap: ptr(42, desktop);
    padding: ptr(18, desktop) ptr(48.5, desktop) 0 ptr(120.5, desktop);
  }

  .left {
    display: flex;
    flex-direction: column;

    @include min(mobile) {
      gap: ptr(35, mobile)
    }
    @include min(tablet) {
      gap: ptr(35, tablet);
    }
    @include min(desktop) {
      gap: ptr(30, desktop);
    }
    .wrapper {
      display: flex;
      flex-direction: column;

      @include min(mobile) {
        gap: ptr(25, mobile)
      }
      @include min(tablet) {
        gap: ptr(25, tablet);
      }
      @include min(desktop) {
        gap: ptr(24, desktop);
      }

      h1, h4, p {
        @include max(desktop) {
          text-align: center;
        }
      }
    }
  }

  .right {
    position: relative;
    @include min(mobile) {
      width: ptr(348.5, mobile);
    }
    @include min(tablet) {
      width: ptr(348.5, tablet);
    }
    @include min(desktop) {
      width: ptr(710.16, desktop);
    }
    .blog-bg {
      @include min(mobile) {
        width: ptr(330.36, mobile);
        height: ptr(353.72, mobile);
        clip-path: polygon( 95.214% 12.144%,95.214% 12.144%,97.807% 15.614%,99.82% 19.505%,101.296% 23.768%,102.273% 28.355%,102.795% 33.217%,102.902% 38.305%,102.635% 43.57%,102.034% 48.963%,101.143% 54.436%,100% 59.94%,100% 59.94%,98.632% 65.42%,97.047% 70.798%,95.236% 75.991%,93.19% 80.912%,90.899% 85.478%,88.355% 89.603%,85.549% 93.203%,82.471% 96.192%,79.113% 98.486%,75.465% 100%,75.465% 100%,71.537% 100.68%,67.359% 100.592%,62.981% 99.832%,58.454% 98.493%,53.826% 96.671%,49.146% 94.462%,44.465% 91.96%,39.832% 89.26%,35.296% 86.458%,30.907% 83.648%,30.907% 83.648%,26.702% 80.914%,22.717% 78.241%,18.977% 75.605%,15.505% 72.978%,12.327% 70.336%,9.465% 67.652%,6.944% 64.901%,4.789% 62.056%,3.022% 59.092%,1.669% 55.984%,1.669% 55.984%,0.747% 52.721%,0.251% 49.321%,0.166% 45.818%,0.479% 42.248%,1.177% 38.643%,2.245% 35.041%,3.67% 31.474%,5.437% 27.979%,7.535% 24.589%,9.948% 21.34%,9.948% 21.34%,12.654% 18.263%,15.65% 15.373%,18.926% 12.686%,22.47% 10.216%,26.272% 7.977%,30.322% 5.984%,34.609% 4.251%,39.122% 2.793%,43.851% 1.623%,48.785% 0.756%,48.785% 0.756%,53.901% 0.214%,59.13% 0.005%,64.388% 0.144%,69.596% 0.647%,74.671% 1.527%,79.532% 2.802%,84.099% 4.486%,88.289% 6.594%,92.021% 9.142%,95.214% 12.144% );
      }
      @include min(tablet) {
        width: ptr(330.36, tablet);
        height: ptr(353.72, tablet);
      }
      @include min(desktop) {
        width: ptr(672.1, desktop);
        height: ptr(716.63, desktop);
        clip-path: polygon( 95.209% 12.262%,95.209% 12.262%,97.805% 15.727%,99.82% 19.613%,101.297% 23.871%,102.276% 28.451%,102.798% 33.307%,102.905% 38.388%,102.637% 43.646%,102.037% 49.032%,101.144% 54.497%,100% 59.994%,100% 59.994%,98.631% 65.466%,97.044% 70.838%,95.231% 76.023%,93.182% 80.938%,90.89% 85.498%,88.343% 89.617%,85.534% 93.212%,82.453% 96.197%,79.091% 98.488%,75.439% 100%,75.439% 100%,71.506% 100.679%,67.324% 100.592%,62.942% 99.832%,58.409% 98.495%,53.776% 96.676%,49.092% 94.469%,44.406% 91.97%,39.767% 89.274%,35.227% 86.476%,30.833% 83.67%,30.833% 83.67%,26.623% 80.94%,22.634% 78.27%,18.89% 75.637%,15.415% 73.014%,12.233% 70.376%,9.368% 67.695%,6.845% 64.948%,4.687% 62.107%,2.918% 59.148%,1.563% 56.043%,1.563% 56.043%,0.641% 52.785%,0.144% 49.39%,0.059% 45.891%,0.373% 42.325%,1.071% 38.726%,2.14% 35.128%,3.567% 31.567%,5.336% 28.076%,7.436% 24.691%,9.851% 21.446%,9.851% 21.446%,12.561% 18.373%,15.56% 15.487%,18.839% 12.804%,22.387% 10.337%,26.193% 8.101%,30.247% 6.111%,34.539% 4.38%,39.057% 2.924%,43.791% 1.755%,48.73% 0.89%,48.73% 0.89%,53.852% 0.349%,59.086% 0.14%,64.35% 0.279%,69.563% 0.78%,74.644% 1.66%,79.511% 2.933%,84.082% 4.614%,88.276% 6.72%,92.013% 9.264%,95.209% 12.262% );
      }
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}